<!-- NAVBAR -->
<nav class="navbar-custom py-3 mb-4">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a href="#" class="nav-link" [class.active]="showServices" (click)="show('servicios', $event)">
        <i class="bi bi-gear"></i> Servicios
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" [class.active]="showProyects" (click)="show('proyectos', $event)">
        <i class="bi bi-folder2-open"></i> Proyectos
      </a>
    </li>
  </ul>
</nav>

<!-- FORMULARIO DE PROYECTOS -->
<section class="py-5 bg-light container shadow-lg rounded-4" id="proyecto" *ngIf="showProyects">
  <h2 class="mb-4 text-center fw-bold text-primary">Agregar Nuevo Proyecto</h2>
  <p class="text-center mb-4">Completa la información del proyecto que deseas agregar.</p>

  <form (ngSubmit)="crearProyecto()" class="mx-auto" style="max-width: 600px;">
    <div class="mb-3">
      <label class="form-label">Nombre del proyecto</label>
      <input type="text" class="form-control" placeholder="Ejemplo: Sitio Web de Fotografía" name="nombre"
        [(ngModel)]="nombre">
    </div>
    <div class="mb-3">
      <label class="form-label">Breve descripción</label>
      <textarea class="form-control" rows="3" placeholder="Describe brevemente el proyecto..." name="descripcion"
        [(ngModel)]="descripcion"></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label d-block">Imagen del proyecto</label>
      <div class="custom-file-upload text-center p-4 border rounded-3 bg-white shadow-sm">
        <input type="file" id="formFile" class="d-none" accept="image/*" name="imagen"
          (change)="onFileSelected($event)">
        <label for="formFile" class="btn btn-outline-primary px-4 py-2">
          <i class="bi bi-upload"></i> Subir imagen
        </label>
        <p id="fileName" class="mt-2 text-muted small">Ningún archivo seleccionado</p>
      </div>
    </div>
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary btn-lg px-5">Confirmar proyecto</button>
    </div>
  </form>
</section>

<!-- SECTOR DE PROYECTOS -->
<section id="servicios" class="py-5">
  <div class="container text-center">
    <h4 class="mb-4">Proyectos actuales:</h4>

    <div class="row justify-content-center g-4">

      <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let p of proyectos">
        <div class="card h-100 project-card shadow-sm">

          <div class="project-img">
            <img [src]="p.url" alt="imagen del proyecto">
          </div>

          <div class="project-body d-flex flex-column">

            <h5 class="project-title">{{ p.nombre }}</h5>
            <p class="project-desc">{{ p.descripcion }}.</p>

            <div class="d-flex justify-content-center gap-2 mt-2">
              <p class="project-hours">Horas: {{ p.horas }}</p>

              <p class="project-status" [ngClass]="{
              'finalizado': p.estado === 'Finalizado',
              'pendiente': p.estado === 'Pendiente',
              'en-progreso': p.estado === 'En progreso'
              }">
                {{ p.estado }}
              </p>
            </div>
            <div class="project-dates mt-2">
              <p class="project-date">Inicio: {{ p.fecha_inicio }}</p>
              <p class="project-date">Fin: {{ p.fecha_fin }}</p>
            </div>

            <!-- BOTONES FIJADOS ABAJO -->
            <div class="mt-auto pt-3 text-center">
              <button class="btn btn-link text-primary p-0 me-3" data-bs-toggle="modal" data-bs-target="#modalEditar"
                (click)="EditValues(p)" title="Editar">
                <i class="bi bi-pencil fs-5"></i>
              </button>

              <button class="btn btn-link text-success p-0" data-bs-toggle="modal" data-bs-target="#modalEliminar"
                (click)="DeleteValues(p.id)" title="Eliminar">
                <i class="bi bi-check2-square fs-5"></i>
              </button>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</section>


<!-- Modal EDITAR PROYECTO-->
<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content border-0 shadow-lg modal-edit">
      
      <div class="modal-header modal-edit-header">
        <h5 class="modal-title" id="modalEditarLabel">Actualizar proyecto</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <form class="form-editar">

          <!-- Nombre -->
          <div class="mb-3">
            <label class="form-label modal-label">Nombre</label>
            <input type="text" class="form-control modal-input" [(ngModel)]="nombreEdit" name="nombre" />
          </div>

          <!-- Descripción -->
          <div class="mb-3">
            <label class="form-label modal-label">Descripción</label>
            <input type="text" class="form-control modal-input" [(ngModel)]="descripcionEdit" name="descripcion" />
          </div>

          <!-- Estado -->
          <div class="mb-3">
            <label class="form-label modal-label">Estado del proyecto</label>
            <select class="form-select modal-select" [(ngModel)]="estadoEdit" name="estado">
              <option value="Pendiente">Pendiente</option>
              <option value="En progreso">En progreso</option>
              <option value="Finalizado">Finalizado</option>
            </select>
          </div>

          <!-- Imagen -->
          <label class="form-label modal-label d-block">Imagen del proyecto</label>
          <div class="custom-file-upload text-center p-4 border rounded-3 bg-white shadow-sm modal-upload-box">
            <input type="file" id="formFile" class="d-none" accept="image/*" name="imagen"
              (change)="onFileSelected($event)">
            <label for="formFile" class="btn btn-outline-primary px-4 py-2 modal-upload-btn">
              <i class="bi bi-upload"></i> Subir imagen
            </label>
            <p id="fileName" class="mt-2 text-muted small">Ningún archivo seleccionado</p>
          </div>

          <!-- Mostrar al público -->
          <div class="mb-3 mt-3 public-wrapper">
            <label class="form-label modal-label small">¿Mostrar al público?</label>
            <select class="form-select form-select-sm public-select" name="mostrar">
              <option [value]="true">Sí</option>
              <option [value]="false">No</option>
            </select>
          </div>

        </form>

      </div>

      <div class="modal-footer">
        <button class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" (click)="editarProyecto()">Guardar cambios</button>
      </div>

    </div>
  </div>
</div>


<!-- Modal FINALIZAR PROYECTO -->
<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg rounded-3">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="modalEliminarLabel">Marcar como finalizado el proyecto</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body text-center">
        <p class="mb-4 fs-5">¿Finalizar proyecto?</p>
        <p>La fecha de finalizacion quedara como: <strong> {{fechaActual}} </strong> </p>
        <div class="d-flex justify-content-center gap-3">
          <button type="button" class="btn btn-outline-secondary px-4" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button type="button" class="btn btn-success px-4" (click)="deleteProject()">Finalizar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FORMULARIO DE SERVICIOS -->
<section class="py-5 bg-light container shadow-lg rounded-4" id="servicios" *ngIf="showServices">
  <h2 class="mb-4 text-center fw-bold text-primary">Agregar Nuevo Servicio</h2>
  <p class="text-center mb-4">Completa la información del servicio que deseas agregar.</p>

  <form class="mx-auto" style="max-width: 600px;">
    <div class="mb-3">
      <label class="form-label">Nombre del servicio</label>
      <input type="text" class="form-control" placeholder="Ejemplo: Desarrollo Web">
    </div>
    <div class="mb-3">
      <label class="form-label">Descripción del servicio</label>
      <textarea class="form-control" rows="3" placeholder="Describe brevemente el servicio..."></textarea>
    </div>
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary btn-lg px-5">Confirmar servicio</button>
    </div>
  </form>
</section>