<!-- HERO -->
<section class="hero d-flex align-items-center text-center"
[ngStyle]="{'background-image': 'url(' + imagenHeader +') '}">
  <div class="container">
    <h1 class="display-3 text-black fw-bold">Bienvenidos a Nuestro Sitio</h1>
    <p class="lead text-black mb-4">Descubrí nuestros servicios y proyectos</p>
    <a href="#proyectos" class="btn btn-primary btn-lg">Ver proyectos</a>
  </div>
</section>

<!-- SERVICIOS -->
<section id="servicios" class="py-5">
  <div class="container text-center">
    <h4 class="mb-4">Nuestros Servicios:</h4>

    <div class="row justify-content-center g4">
      <!-- CARD 1 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            
            <h5 class="card-title"> <i class="bi bi-droplet fs-1 text-primary mb-2"></i>  Instalaciones sanitarias</h5>
            <p class="card-text">Diseño, planificación e instalación de sistemas de agua potable, desagües y redes sanitarias, garantizando funcionalidad y cumplimiento de normas.</p>
          </div>
        </div>
      </div>

      <!-- CARD 2 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-fire fs-1 text-primary mb-2"></i>  Instalaciones de gas</h5>
            <p class="card-text">Ejecución de redes de gas domiciliarias e industriales con seguridad, certificación y cumplimiento de normativas vigentes.</p>
          </div>
        </div>
      </div>

      <!-- CARD 3 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-shield-check fs-1 text-primary mb-2"></i> Instalaciones contra incendio</h5>
            <p class="card-text">Implementación de sistemas de detección, alarmas y extinción de incendios, asegurando la protección de personas y bienes.</p>
          </div>
        </div>
      </div>

      <!-- CARD 4 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-file-text fs-1 text-primary mb-2"></i>  Informes</h5>
            <p class="card-text">Elaboración de informes técnicos detallados sobre inspecciones, estudios de factibilidad y evaluación de proyectos.</p>
          </div>
        </div>
      </div>

      <!-- CARD 5 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-diagram-3 fs-1 text-primary mb-2"></i>  Planos conforme a obra</h5>
            <p class="card-text">Creación de planos actualizados que reflejan fielmente la ejecución de la obra y los cambios realizados durante la construcción.</p>
          </div>
        </div>
      </div>

      <!-- CARD 6 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-building fs-1 text-primary mb-2"></i>  Planos municipales</h5>
            <p class="card-text">Preparación de planos oficiales para presentar en organismos municipales, cumpliendo los requisitos legales y normativos.</p>
          </div>
        </div>
      </div>

      <!-- CARD 7 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-journal-text fs-1 text-primary mb-2"></i>  Planos de licitacion y ejecutivos.</h5>
            <p class="card-text">Desarrollo de planos precisos para licitaciones y ejecución de obra, facilitando la planificación y la gestión del proyecto.</p>
          </div>
        </div>
      </div>

      <!-- CARD 8 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-pencil-square fs-1 text-primary mb-2"></i>  CAD</h5>
            <p class="card-text">Elaboración de planos y diseños técnicos mediante software CAD (Computer-Aided Design), optimizando precisión y eficiencia.</p>
          </div>
        </div>
      </div>

      <!-- CARD 9 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm rounded">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><i class="bi bi-grid-1x2 fs-1 text-primary mb-2"></i>  BIM</h5>
            <p class="card-text">Modelado y gestión de proyectos mediante BIM (Building Information Modeling), integrando información digital para planificación, construcción y mantenimiento.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- PROYECTOS / CAROUSEL -->
<section id="proyectos" class="py-5">
  <div class="container text-center">
    <h4 class="mb-4">Proyectos</h4>
    <div id="carouselExampleCaptions" class="carousel slide mx-auto" style="max-width: 600px;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></button>
      </div>
      <!-- ACA -->
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let img of carrousel; let i = index" [class.active]="i === 0">
          <img [src]="img.url" class="d-block w-100 rounded" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-black">{{img.nombre}}</h5>
            <p class="text-black">{{img.descripcion}}</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>