html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 65px;
}

@media (min-width: 768px) {
  body {
    padding-top: 60px;
  }
}

:root {
  --primary: #4858e8;
  --primary-dark: #3240b5;
  --text-dark: #222;
  --bg-light: #f9faff;
}