html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px
}

.main-con-padding {
  padding-top: 80px;
}

@media (min-width: 768px) {
  .main-con-padding {
    padding-top: 70px;
  }
}

:root {
  --primary: #406AFF;
  --primary-dark: #3240b5;
  --text-dark: #222;
  --bg-light: #f9faff;
}

.fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
