<nav class="navbar navbar-expand-lg bg-white px-3 py-2 shadow-sm">
  <a class="navbar-brand d-flex align-items-center" href="#">
    <img src="..." alt="Logo" height="40" class="me-2">
    <span class="fw-bold text-dark">AGS</span>
  </a>

  <ul class="nav ms-auto">
    <li class="nav-item">
      <a class="nav-link minimal-link" href="AGS/inicio/#scrollspyHeading1">Servicios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link minimal-link" href="AGS/nosotros">Nosotros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link minimal-link" href="AGS/nosotros/#formulario">Contactenos</a>
    </li>

    <li class="nav-item dropdown" *ngIf="usuarioRegistrado">
      <a class="nav-link minimal-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ADMIN</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Perfil</a></li>
        <li><a class="dropdown-item" href="#">Panel administrativo</a></li>
        <li><a class="dropdown-item" href="#">Metricas</a></li>
        <li><a class="dropdown-item" href="#">Servicios/proyectos</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="LogOut()">Cerrar sesión</a></li>
      </ul>
    </li>
  </ul>
</nav>
