<div *ngIf="change_pass">
  <!-- ponerlo con animacion molesta y en rojo -->
  <p>Requiere cambio de contraseña!!</p>
  
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for mdo</button>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cambie su contraseña por motivos de seguridad</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label" >Correo:</label>
              <!-- HAY Q DESABILITARLO -->
              <input type="text" class="form-control" id="recipient-name" [value]="mail" name="mail">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Ingrese su Contraseña:</label>
              <input type="text" class="form-control" id="recipient-name" name="mail" [(ngModel)]="pass">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Ingrese nuevamente su Contraseña:</label>
              <input type="text" class="form-control" id="recipient-name" name="mail" [(ngModel)]="pass2">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="changePass()">Send message</button>
          <p *ngIf="passMsg" [ngClass]="{ 'error': msg.includes('debe'), 'success': msg.includes('exitosamente') }">
            {{ msg }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>