.card {
  border-radius: 8px;
  overflow: hidden;
}

/* Estilo para el contenedor de la barra de progreso */
.custom-progress-bar {
  position: relative;
  background-color: #e9ecef;
  border-radius: 5px;
  overflow: hidden;
  height: 10px; 
}

/* Estilo para la barra de progreso interna */
.custom-progress-bar .progress-bar {
  border-radius: 5px; 
  transition: width 0.6s ease;
  display: flex; 
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.progress-label {
  position: absolute;
  right: 0; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.85em;
  font-weight: 500;
  color: #343a40; 
  padding-left: 10px;
  z-index: 1; 
  pointer-events: none; 
  background-color: transparent; 
}

/* Estado Completado */
.estado-completado {
    background-color: #d1e7dd !important;
    color: #198754 !important;
}

.estado-progreso {
    background-color: #cfe2ff !important;
    color: #0d6efd !important;
}


.estado-planificado {
    background-color: #fff3cd !important;
    color: #ffc107 !important; 
}

.badge {
    padding: 0.3em 0.6em;
    font-size: 0.75em;
    font-weight: 600;
    border-radius: 0.3rem;
    line-height: 1;
}

.bg-success-subtle {
    background-color: #d1e7dd !important;
}
.text-success {
    color: #198754 !important; 
}

.bg-primary-subtle {
    background-color: #cfe2ff !important;
}
.text-primary {
    color: #0d6efd !important; 
}

.bg-warning-subtle {
    background-color: #fff3cd !important;
}
.text-warning {
    color: #ffc107 !important;
}

/* Ajuste de margen para el texto de las horas */
.custom-progress-bar .progress-label {
    left: calc(var(--bs-progress-width) + 5px);
    right: 0;
    padding-right: 0;
    padding-left: 10px;
    min-width: 40px;
    text-align: right;
}

.project-name {
    font-weight: 500;
    color: #343a40;
}

.progress-time-label {
    font-size: 0.9em;
    font-weight: 500;
    color: #6c757d; 
    margin-right: 15px; 
}

.d-flex.justify-content-between.align-items-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-name {
    flex-grow: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px; 
}

/* Estilos para la Leyenda */
.legend-item {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
  font-size: 0.9em;
  color: #6c757d;
}

.legend-box {
  width: 12px;
  height: 12px;
  border-radius: 3px;
  margin-right: 5px;
}

/* Estilos para el texto dentro de la barra */
.progress-stacked .progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.75rem;
  color: white; 
  min-width: 25px; 
  overflow: hidden;
}

.month-name {
  font-weight: bold;
}

.total-projects {
  font-weight: 500;
  color: #6c757d;
}

.col-md-6 .card .d-flex {
    padding-top: 5px; 
    padding-bottom: 5px;
}

.progress-stacked {
    height: 30px !important;
    margin-bottom: 20px !important;
}